# Node dependencies
node_modules/


# Logs
npm-debug.log*
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*.local

# Coverage/testing
coverage/
*.lcov

# Build output
dist/
build/

# Cache
.cache/

# System files
.DS_Store
Thumbs.db
